/* .account__link {
  color: #e47703;
}
.login {
  display: flex;
}
.login__container {
  margin-left: 395px;
  text-align: center;
}


.login__title {
  width: 530px;
  height: 520px;
  margin-top: 50px;
  background-color: #fff;
  box-shadow: 0 4px 12px rgb(158 158 158 / 90%);
  border-radius: 10px;
  position: relative;
  top: 0;
}

.login__title h2 {
  padding-top: 120px;
}
.login__form input {
  height: 40px;
  margin-bottom: 9px;
  width: 450px;
  border: 1.9px solid #ddd;
  border-radius: 4px;
}

.login__container button {
  height: 45px;
  width: 250px;
  margin: 15px 0;
  background-color: #516cf0;
  border: 1px solid #3a59ef;
  border-radius: 4px;
  color: aliceblue;
  font-size: 17px;
}
.login__container button:hover {
  background: #fe8402;
  border: #fe8402;
  cursor: pointer;
}

.login__about {
  padding-top: 120px;
  width: 600px;
  padding-left: 40px;
}
#about {
  color: #f88409;
}
.login__about button {
  background: #f17f04;
  border: 1px solid #fe8402;
  border-radius: 4px;
  padding: 12px;
  color: #fff;
  width: 190px;
  margin-top: 20px;
}

.footer {
  height: 200px;
  background-color: #1e2f3f;
  padding-left: 100px;
  margin-top: 210px;
  display: flex;
}

.footer__image {
  padding-top: 30px;
}
.footer_socialLink a {
  color: #fff;
  text-decoration: none;
}

.footer__instagram {
  padding: 15px;
}

.footer__linkList {
  display: flex;
  padding-left: 300px;
  padding-top: 13px;
  color: #fff;

 
}
.footer__linkList ul li {
  list-style: none;
  opacity: 0.3;
}
.footer__linkUseful ul li:hover {
  text-decoration: underline;
  opacity: 1;
}
.footer__linkUseful {
  padding-right: 100px;
}
.footer__linkList h3 {
  padding-left: 37px;
  font-weight: 500;
  font-size: 20px;
}
.footer__linkContact {
  padding-left: 300px;
  padding-right: 180px;
} */


#login__home {
  background-image: url("https://www.evangadi.com/themes/humans/assets/images/misc/bg-svg-f.svg");
  background-size: cover;
  background-color: #f8f8f8;
  width: 100%;
  
}

.login__form {
  margin-left: 20px;

}
.login__input {
  width: 90%;
  height: 45px;
  margin-bottom: 15px;
  border-radius: 7px;
  border-color: #cccccc;
  font-size: 14px;
}
.login__button {
  width: 90%;
  height: 45px;
  background: #516cf0;
  border: none;
  color: white;
  border-radius: 7px;
  font-size: 16px;
  margin-bottom:5px;
}
.login__heading h3 {
  font-size: 20px;
  /* font-weight: 800; */
  padding-top: 75px;
  text-align: center;
  /* color: #516cf0; */
}
.login__heading {
  text-align: center;
font-size: 12px;
}
.login__account  {
  margin-bottom: 35px;
  padding-bottom: 10px;
}
.login,
.container {
  text-align: center;
  margin-top: 55px;
  background-color: white;
  border: 1px solid lightgray;
  box-shadow: 0 6px 18px -3px rgba(0, 0, 0, 0.75);
  box-shadow: 1px;
  width: 100%;
  padding: 10px;
  
}
.container {
  margin-left: 10%;
  margin-right: 30px;
  width: 75%;
  padding-right: 10px;
  padding-left: 10px;
  margin-bottom:5%;

}
/* .eye {
  margin-left: 2px;
} */

/* about section */

.login__about {
  width: 100%;
  /* margin-right: 35px; */
  margin-top: 85px;
  text-align: left;
}
.login__about {
   margin-right:10%;
   /* margin-left: 55px; */
   width: 100%;
   /* margin-bottom: 100px; */
}
.login__about button {
  background-color: #fe8303;
  font-size: 14px;
  border: none;
  padding: 5px;
  width: 145px;
  border-radius: 7px;
 
}
.login__about_about {
  color: #fe8303;
  font-size: 12px;
}
.login__para{
  font-size: 16px;
}
.login__account a {
  text-align: center;
  color: #fe8303;
  
  font-family: "Lato", sans-serif;
  font-size: 15px;
}


.login__form span {
  color: #cccccc;
  position: absolute;
  z-index: 2;
  margin-left: -35px;
  cursor: pointer;
}