/* .link {
  text-decoration: none;
  color: black;
}
.nav {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.nav__image {
  padding-left: 110px;
}

.nav__bar {
  padding-right: 190px;
  font-size: 19px;
}

.nav__bar button {
  height: 45px;
  width: 250px;
  margin: 15px 0;
  background-color: #516cf0;
  border: 1px solid #3a59ef;
  border-radius: 4px;
  color: aliceblue;
  font-size: 17px;
}
.nav__bar button:hover {
  background: #db7405;
  border: #fe8402;
  cursor: pointer;
  color: aliceblue;
}

.nav__bar .nav__works {
  padding: 35px;
}
.nav__bar :hover {
  color: #da7000;
} */

.header {
    width: 100%;
    background-color: white;
   
}
.header__logo > img{
    width: 150px;
   padding-top: 20px;
    margin-left: 65px;
}
.header_container{
    display: flex;
    
   justify-content: space-around;
   font-size: 20px;
   /* padding-top: 15px; */
}
.header__titles {
    display: flex;
    padding-top: 20px;
   
}
.header__home {
    margin-right:25px;
}
.header__how {
    margin-right: 10px;
    color: black;
}
.header__titles > button {
    width: 150px;
    background-color: blue;
    text-decoration-line: none;
    border-radius: 7px;
    color: white;
    font-size: 20px;
    border: none;
    height: 35px;
  
   
    
}
 .header__titles a {
text-decoration-line: none;
color: black;
}

.navbar-nav .nav-link {
  padding-top: 0;
  padding-bottom: 0;
  height: 44px;
  line-height: 44px;
}
.container-fluid {
  height: 40px;
}
.navbar{
  width: 100%;
  background-color: white;
  color: black;
  border-style: none;
}
.dropdown-menu li{
background-color: white;
color: black;
}
.dropdown-toggle{
  margin-left: 60px;
}