.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  max-width: 1400px;
  margin: 0 auto;
}
.wrapper{
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}
.logo img {
  height: 30px;
}

.navLinks {
  display: flex;
  gap: 20px;
  margin-left: auto; /* This will float it to the right */
}

.navLinks a {
  text-decoration: none;
  color: #333;
}

.authButton button {
  padding: 10px 20px;
  border: none;
  background-color: #4a90e2;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
  transition: all 0.3s ease;
}

.authButton button:hover {
  background-color: #357ab8;
}
