/* .question button {
  margin: 250px;
  top: 0;
}
.question__summerize {
  padding-left: 380px;
}
.question__button button {
  padding: 10px 0;
  border-radius: 3px;
  background: #516cf0;
  font-weight: 300;
  font-style: normal;
  text-align: center;
  width: 150px;
  color: white;
  margin-top: 0;
margin-left: -400px;
  border-color: white;
}

.question__detail {
  text-align: center;
} */

.question__steps{
   text-align: center;
   font-size: 24px;
}
.question__li {
 margin-left: 33%;
 
}
.question__go a{
    font-size: 10px;
    color: black;
    text-decoration-line: none;
}
.question__go{
  text-align: center;
}
form  > input {
    width: 85%;
    /* height: 5vh; */
    object-fit: contain;
    font-size: 12px;
}

form  > textarea {
    width: 85%;
    height: 135px;
    border-bottom-right-radius: 10px solid rgb(126, 65, 65);
}
.question__line{
    padding-bottom: 5px;
}
.question__textarea {
    font-size: 10px;
}
.question__box{
    width: 90%;
 box-shadow: 10px 10px 5px rgb(221, 212, 212);
   border-radius: 30px;
   margin: 0 0px 40px 50px; 

}
form > button{
margin-bottom: 45px;
border-radius: 7px;
background-color: blue;
color: white;

}

.inputs {
    border-radius: 10px;
    border:solid lightgray;
}
.question_form {
 margin-left: 140px;
 font-size: 12px;
}
.question__textarea{
    font-size: 10px;
}